<h1>About to find personalized workouts</h1>

{{! To improve : button }}

<form method="POST" action="/signup/body">
  {{>bodyScreen this}}
    <a class="btn btn-primary" href="/signup/athlete">Previous</a>
    <button class="btn btn-primary" type="submit">Next</button>
  
</form>