<section id="intro-flow-section" class="swap-animation">
  <div class="intro-flow-box">
    <h4>Ready to begin the journey ?</h4>

    {{! To improve : button }}

    <h5> Let's reveal the best in you {{this.username}}</h5>

    <a class="btn btn-primary" href="/signup/goals">Previous</a>
    <a class="btn btn-primary" href="/workouts/:user">Let's start</a>

  </div>
</section>