<section id="intro-flow-section" class="swap-animation">
  <div class="intro-flow-box">
    <h3>Welcome to Workouty</h3>

    {{! To improve : button }}

    <form method="POST" action="/signup">
      <div class="mb-3">
        <label class="form-label" for="username"></label>
        <input
          placeholder="Enter your username"
          class="form-control"
          type="text"
          name="username"
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="email"></label>
        <input
          placeholder="Enter your email"
          class="form-control"
          type="text"
          name="email"
        />
      </div>

      <label class="form-label" for="password"></label>
      <input
        placeholder="Enter your password"
        class="form-control"
        type="password"
        name="password"
      />

      <button class="btn btn-outline-* btn-lg" type="submit"><i
          class="bi bi-check-circle"
        ></i></button>
    </form>

    {{#if msg}}
      <p class="msg"> {{msg}} </p>
    {{/if}}

  </div>
</section>