<section id="intro-flow-section">
  <div class="intro-flow-box">
    <h4>About to find personalized workouts</h4>

  {{! To improve : button }}

    <form method="POST" action="/signup/body">
      {{>bodyScreen this}}
        <a class="btn btn-primary" href="/signup/athlete">Previous</a>
        <button class="btn btn-primary" type="submit">Next</button>
      
    </form>


  </div>
</section>