<h1>Ready to begin the journey ?</h1>

{{! To improve : button }}

<a class="btn btn-primary" href="/signup/goals">Previous</a>
<button type="submit" onclick="href">Create my profile</button>

{{! put the link to redirect to the main page }}