<h1>What type of athlete are you ?</h1>

{{! To improve : button }}

<form method="POST" action="/signup/athlete">
{{>athleteScreen this}}
  <a class="btn btn-primary" href="/signup/trainer-name">Previous</a>
  <button class="btn btn-primary" type="submit">Next</button>
</form>