<h1>What are your goals ?</h1>

{{! To improve : button }}

<form method="POST" action="/signup/goals">
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      name="goals"
      value="Get summer fit"
      id="flexCheckDefault"
      {{#ifin "Get summer fit" currentUser.goals }} checked {{/ifin}}
    />
    <label class="form-check-label" for="Get summer fit">
      Get summer fit
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      name="goals"
      value="Become more athletic"
      id="flexCheckChecked"
      {{#ifin "Become more athletic" currentUser.goals }} checked {{/ifin}}
    />
    <label class="form-check-label" for="Become more athletic">
      Become more athletic
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      name="goals"
      value="Lose weight"
      id="flexCheckChecked"
      {{#ifin "Lose weight" currentUser.goals }} checked {{/ifin}}
    />
    <label class="form-check-label" for="Lose weight">
      Lose weight
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      name="goals"
      value="Run a marathon"
      id="flexCheckChecked"
      {{#ifin "Run a marathon" currentUser.goals }} checked {{/ifin}}
    />
    <label class="form-check-label" for="Run a marathon">
      Run a marathon
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      name="goals"
      value="Improve endurance"
      id="goals"
      {{#ifin "Improve endurance" currentUser.goals }} checked {{/ifin}}
    />
    <label class="form-check-label" for="Improve endurance">
      Improve endurance
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      name="goals"
      value="Build muscle"
      id="goals"
      {{#ifin "Build muscle" currentUser.goals }} checked {{/ifin}}
    />
    <label class="form-check-label" for="Build muscle">
      Build muscle
    </label>

  </div>
  <a class="btn btn-primary" href="/signup/birthday">Previous</a>
  <button class="btn btn-primary" type="submit">Next</button>
</form>