  

  <section id="intro-flow-section" class="swap-animation">
    <div class="intro-flow-box">

        <h4>What type of athlete are you ?</h4>
<br>
        <form method="POST" action="/signup/athlete">
        {{>athleteScreen this}}
        <br>
          <a class="btn btn-outline-* btn-lg" type="submit" href="/signup/trainer-name"><i class="bi bi-arrow-left-circle"></i></a>
          <button  class="btn btn-outline-* btn-lg" ><i class="bi bi-arrow-right-circle"></i></button>
        </form>

    </div>
  </section>
