<h1>What is your birthday ?</h1>

{{! NEED TO CHECK FOR DISPLAYING DATE IN FORM }}
{{! To improve : button }}

<label for="birthday"></label>

<input
  type="date"
  id="birthday"
  name="birthday"
  value="2021-07-09"
  min="2021-07-01"
  max="2021-07-31"
/>

{{! 
<form method="POST" action="/signup/birthday">
  <label>birthday : <span>*</span></label>
  <SELECT id="year" name="yyyy" onchange="change_year(this)" />
  <SELECT id="month" name="mm" onchange="change_month(this)" />
  <SELECT id="day" name="dd" />
</form> }}

<button>Arrow Button</button>