<h1>Ready to begin the journey ?</h1>

{{! To improve : button }}

<h3> Let's reveal the best in you {{this.username}}</h3>

<a class="btn btn-primary" href="/signup/goals">Previous</a>
<a class="btn btn-primary" href="/workouts/:user">Let's start</a>