<h1>If I were a trainer : </h1>

{{! To improve : button }}

<form method="POST" action="/signup/trainer-name">
  <div class="mb-3">
    <label class="form-label" for="trainername"></label>
    <input
      placeholder="Call me..."
      class="form-control"
      type="text"
      value="{{currentUser.trainername}}"
      name="trainername"
    />

    <br />

    <button class="btn btn-primary" type="submit">Next</button>
  </div>
</form>

{{#if msg}}
  <p class="msg"> {{msg}} </p>
{{/if}}