<h1>What type of athlete are you ?</h1>

{{! To improve : button }}

<form method="POST" action="/signup/athlete">
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="athleteType"
      id="athlete"
      value="Lannister / Targaryan"
    />
    <label class="form-check-label" for="Lannister / Targaryan">
      Lannister / Targaryan
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="athleteType"
      id="athlete"
      value="Beginner"
      checked
    />
    <label class="form-check-label" for="Beginner">
      Beginner
    </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="athleteType"
      id="athlete"
      value="Intermediate"
    />
    <label class="form-check-label" for="Intermediate">
      Intermediate
    </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="athleteType"
      id="athlete"
      value="Pro"
    />
    <label class="form-check-label" for="Pro">
      Pro
    </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="athleteType"
      id="athlete"
      value="Stark"
    />
    <label class="form-check-label" for="Stark">
      Stark
    </label>
  </div>
</form>

<button>Arrow Button</button>