<h1>What are your goals ?</h1>

{{! To improve : button }}

<form method="POST" action="/signup/goals">
  {{>goalsScreen this}}
  <a class="btn btn-primary" href="/signup/birthday">Previous</a>
  <button class="btn btn-primary" type="submit">Next</button>
</form>