<section id="intro-flow-section" class="swap-animation">
  <div class="intro-flow-box">
  
  
  <h4>What is your birthday ?</h4>

  {{! NEED TO CHECK FOR DISPLAYING DATE IN FORM }}
  {{! To improve : button }}
  <form method="POST" action="/signup/birthday">
  <br>
    
  {{>birthdayScreen this}}
  <br>
    <a class="btn btn-outline-* btn-lg" href="/signup/body"><i class="bi bi-arrow-left-circle"></i></a>
    <button class="btn btn-outline-* btn-lg" type="submit"><i class="bi bi-arrow-right-circle"></i></button>

  </form>

  </div>
</section>