<h1>What is your birthday ?</h1>

{{! NEED TO CHECK FOR DISPLAYING DATE IN FORM }}
{{! To improve : button }}
<form method="POST" action="/signup/birthday">
  
{{>birthdayScreen this}}
  <a class="btn btn-primary" href="/signup/body">Previous</a>
  <button class="btn btn-primary" type="submit">Next</button>

</form>