<section id="intro-flow-section">
  <div class="intro-flow-box">
    <h4>Edit your body trainername : </h4>

<<<<<<< HEAD
    <form method="POST" action="/profile/{{ currentUser._id }}/edit/trainername">
      {{>trainerScreen this}}
=======
<form method="POST" action="/profile/edit/trainername">
  {{>trainerScreen this}}
>>>>>>> b726bb6037851ff645d524debd7a2b5a3d7d8bd0

      <button class="btn btn-primary" type="submit">Update</button>
    </form>


  </div>
</section>