<section id="intro-flow-section">
      <div class="intro-flow-box">
    <h4>Update your athlete type</h4>

    {{! To improve : button }}

    <form method="POST" action="/profile/{{ currentUser._id }}/edit/athletetype">
    {{>athleteScreen this}}

      <button class="btn btn-primary" type="submit">Update</button>
    </form>


  </div>
</section>