<section id="intro-flow-section">
  <div class="intro-flow-box">
    <h4>Edit your trainer name : </h4>

<br>
<form method="POST" action="/profile/edit/trainername">
  {{>trainerScreen this}}
<br>

     <button class="btn btn-outline-* btn-lg" type="submit"><i class="bi bi-check-circle"></i></button>
    </form>


  </div>
</section>