<h1>Update your body height and weight</h1>

{{! To improve : button }}

<form method="POST" action="/profile/{{ currentUser._id }}/edit/body">
  {{>bodyScreen this}}
    <button class="btn btn-primary" type="submit">Update</button>
  
</form>