<section id="intro-flow-section">
  <div class="intro-flow-box">
    <h4>Update your body height and weight</h4>

    {{! To improve : button }}

    <form method="POST" action="/profile/edit/body">
      {{>bodyScreen this}}
        <button class="btn btn-primary" type="submit">Update</button>
      
    </form>

  </div>
</section>
