<section id="intro-flow-section">
  <div class="intro-flow-box">
    <h4>Edit your password</h4>

<<<<<<< HEAD
    <form method="POST" action="/profile/{{currentUser._id}}/edit/password">
=======
<form method="POST" action="/profile/edit/password">
>>>>>>> b726bb6037851ff645d524debd7a2b5a3d7d8bd0

      <label class="form-label" for="password"></label>
      <input
        class="form-control"
        type="password"
        name="password"
        value="************"
      />
      <br />

      <button class="btn btn-primary" type="submit">Update</button>
    </form>

    {{#if msg}}
      <p class="msg"> {{msg}} </p>
    {{/if}}

  </div>
</section>