<section id="intro-flow-section">
  <div class="intro-flow-box">
    <h4>Edit your goals</h4>
    {{! To improve : button }}
<br>
    <form method="POST" action="/profile/edit/goals">
      {{>goalsScreen this}}
      <br>
     <button class="btn btn-outline-* btn-lg" type="submit"><i class="bi bi-check-circle"></i></button>
    </form>


  </div>
</section>