<section id="intro-flow-section">
  <div class="intro-flow-box">
    <h4>Edit your body trainername : </h4>

<form method="POST" action="/profile/edit/trainername">
  {{>trainerScreen this}}

      <button class="btn btn-primary" type="submit">Update</button>
    </form>


  </div>
</section>