<a href="/library/search">Go back to search</a>
<form method="POST" action="/library/create-workout">
  <label for="name">Workout name</label>
  <input type="text" id="name" name="name" />

  <label for="description">Workout name</label>
  <input type="text" id="description" name="description" />

  <div class="dropdown-container">
        <label for="type">Type</label>
        <select name="type" id="type">
        <option value="Bodyweight">Bodyweight</option>
        <option value="Gym">Gym</option>
        <option value="Outdoor">Outdoor</option>
        <option value="Athlete">Athlete</option>
        <option value="Mobility">Mobility</option>
        <option value="Endurance">Endurance</option>
        </select>

        <label for="duration">Duration</label>
        <input type="number" name="duration" id="duration" />

        <label for="level">Level</label>
        <select name="level" id="level">
        <option value="Lannister / Targaryan">Lannister / Targaryan</option>
        <option value="Beginner">Beginner</option>
        <option value="Advanced">Advanced</option>
        <option value="Pro">Pro</option>
        <option value="Stark">Stark</option>
        </select>

        <label for="goals">Goals</label>
        <select name="goals" id="goals">
        <option value="Get summer fit">Get summer fit</option>
        <option value="Run a marathon">Run a marathon/option>
        <option value="Become more athletic">Become more athletic</option>
        <option value="Improve endurance">Improve endurance</option>
        <option value="Lose weight">Lose weight</option>
        <option value="Build muscle">Build muscle</option>
        </select>

        <label for="intensity">Intensity</label>
        <select name="intensity" id="intensity">
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
        </select>
    </div>

    <div class="new-exercise">
        <input
            type="exerciseSearch"
            id="exericse-search"
            placeholder="Search for exercise"
        />

        <input type="reps" id="reps" value="1" />

        <input type="restBetweenReps" id="restBetweenReps" value="30" />
        <span>Seconds</span>

        <input type="unitType" id="exericse-search" placeholder="Unit" />

        <input type="sets" id="sets" value="1" />

        <span>Sets</span>
        <input type="restBetweenSets" id="restBetweenSets" value="30" />
        <span>Seconds</span>

    </div>

    <button type="button">+</button>

    <p>Cannot find your exercise? Create it yourself!</p>

    <a href="/library/create-exercise">Create an exercise</a>

    <button type="submit">Create workout</button>

</form>