<a href="/library/create-workout">Go back to workout</a>

<label for="exercise-name">Exercise name</label>
<input type="text" id="exercise-name" name="name" />

<label for="exercise-description">Exercise name</label>
<input type="text" id="exercise-description" name="name" />

<label for="equipments">Type</label>
<select name="equipments" id="equipments" multiple>
  <option value="none (bodyweight exercise)">none (bodyweight exercise)</option>
  <option value="Barbell">Barbell</option>
  <option value="Dumbell">Dumbell</option>
  <option value="Kettlebell">Kettlebell</option>
  <option value="SwissBal">SwissBal</option>
  <option value="Bench">Bench</option>
  <option value="Gym mat">Gym mat</option>
  <option value="Incline Bench">Incline Bench</option>
  <option value="Pull-up bar">Pull-up bar</option>
  <option value="SZ-Bar">SZ-Bar</option>
</select>