{{> sidebarLibrary }}

{{!-- <a href="/library/search">Go back to search</a> --}}
<form method="POST" action="/library/create-workout">
  <label for="name">Workout name</label>
  <input type="text" id="name" name="name" value="{{workoutObj.name}}" placeholder="Workout name"/>

  <label for="description">Workout description</label>
  <input type="text" id="description" name="description" value="{{workoutObj.description}}" placeholder="Workout description" />

  {{#if error}}
    <p class="error">{{error}}</p>
  {{/if}}

  <div class="dropdown-container">

        <label for="type">Type</label>
        <select name="type" id="type">
            {{> options workoutObj.type}}
        </select>

        <label for="duration">Duration</label>
        <input type="number" name="duration" id="duration" value="{{workoutObj.duration}}"  min="0" max="300"/>

        <label for="level">Level</label>
        <select name="level" id="level">
            {{> options workoutObj.level}}
        </select>

        <label for="goals">Goals</label>
        <select name="goals" id="goals">
              {{> options workoutObj.goals}}          
        </select>

        <label for="intensity">Intensity</label>
        <select name="intensity" id="intensity">
              {{> options workoutObj.intensity}}                     
        </select>
    </div>
    
    <section id="add-exercises">
        {{#each workoutObj.exercises}}
            {{> exercise this}}     
        {{/each}}
    </section>

    <input type="text" name="findExercise"> <button type="submit" name="button" value="search-for-exercise">Search for exercise</button>

    <p>Cannot find your exercise? Create it yourself!</p>

    <button type="submit" name="button" value="create-an-exercise">Create an exercise</button>

    <button type="submit" name="button" value="create-workout" >Create workout</button>

</form>