{{> navbar navBarClasses.workoutLibrary }}
<section class="swap-animation section-center">

<h3>Browse the vast library</h3>

<section id="search-basic-two">

    <form method="GET" action="/library/search">
        <div class="search-bar-row1">              
            <input type="text" name="workoutName">
            <button class="button button-small search-button" type="submit" name="button" value="search"> <i class="bi bi-search icon-center"></i>
            Search</button>
            <a href="/library/search/advanced">Advanced search</a>
        </div>

        <div class="pagenumbers">
            {{#each pageNumberArr}}
                <button type="submit" name="paginationBtn" value="{{this}}">{{this}}</button>
            {{/each}}
        </div>
    </form>
    {{#each foundWorkouts}}
        {{> searchResult this}}
    {{/each}}
</section>

</section>