{{> sidebarLibrary }}

<h1>Browse the vast library</h1>

<section id="search-basic">
    <form method="GET" action="/library/search/advanced">
        <input type="text" name="workoutName">
        <button>Search advanced</button>

        <span>Type of workout</span>
        <select name="type" id="type">
            {{> options searchOptions.types}}
        </select>

        <span>Duration</span>
        <label for="minDuration">Min</label>
        <input type="number" name="minDuration" id="minDuration" min="0" max="999">
        <label for="maxDuration">Max</label>
        <input type="number" name="maxDuration" id="maxDuration" min="1" max="1000" >

        <span>Level</span>
        <select name="level" id="level">
            {{> options searchOptions.levels}}
        </select>

        <span>Goals</span>
        <select name="goals" id="goals">
            {{> options searchOptions.goals}}
        </select>

        <span>Intensity</span>
        <select name="intensity" id="intensity">
            {{> options searchOptions.intensities}}
        </select>
    </form>

    {{!-- <a href="/library/search">Basic search</a> --}}
</section>

<h4>Pagination element, YET TO DO</h4>

{{#each foundWorkouts}}
    {{> searchResult this}}
{{/each}}