{{> sidebarLibrary }}

<h1>Browse the vast library</h1>

<section id="search-basic">

    <form method="GET" action="/library/search">
        <input type="text" name="workoutName">
        <button type="submit" name="button" value="search">Search</button>
    

    <a href="/library/search/advanced">Advanced search</a>

    {{#each pageNumberArr}}
        <button type="submit" name="paginationBtn" value="{{this}}">{{this}}</button>
    {{/each}}
    </form>
</section>

{{#each foundWorkouts}}
    {{> searchResult this}}
{{/each}}