{{> navbar navBarClasses.workoutLibrary }}
<button id="go-back" class="go-back-button button button-small icon-center"><i class="bi bi-arrow-left"></i></button>
<section class="swap-animation-two section-center">
  

<h3>{{workoutData.name}}</h3>
<h6 class="mrg-btm">{{workoutData.description}}</h6>

    <div class="wo-info-tag-container mrg-btm">
        {{#each tags}}
        <span class="tag">{{this}}</span>
        {{/each}}
    </div>

  <div class="wo-info-ex-container">
    <form method="POST" action="/library/workout-information/{{workoutData._id}}">
      {{#each workoutData.exercises}}
          {{> workoutInfoExercise this}}     
      {{/each}}

      <div class="position-middle">
        <button class="button button-big mrg-btm">Add to My Workouts</button>
      </div>
    </form>

  </div>

<script src="/js/library/workout-information.js"></script>
</section>