{{> navbar navBarClasses.workoutLibrary }}
<section class="swap-animation-two">
  
<button id="go-back">Go back!</button>

<h1>{{workoutData.name}}</h1>
<h6>{{workoutData.description}}</h6>

{{#each tags}}
  <span class="tag">{{this}}</span>
{{/each}}

<form method="POST" action="/library/workout-information/{{workoutData._id}}">
  {{#each workoutData.exercises}}
      {{> workoutInfoExercise this}}     
  {{/each}}

  <button>Add to your workouts</button>
</form>

<script src="/js/library/workout-information.js"></script>
</section>