  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="athleteType"
      id="athlete"
      value="Lannister / Targaryen"
      {{#ifeq currentUser.athleteType "Lannister / Targaryen"}} checked {{/ifeq}}
    />
    <label class="form-check-label" for="Lannister / Targaryen">
      Lannister / Targaryen
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="athleteType"
      id="athlete"
      value="Beginner"
      {{#ifeq currentUser.athleteType "Beginner"}} checked {{/ifeq}}
    />
    <label class="form-check-label" for="Beginner">
      Beginner
    </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="athleteType"
      id="athlete"
      value="Intermediate"
      {{#ifeq currentUser.athleteType "Intermediate"}} checked {{/ifeq}}
    />
    <label class="form-check-label" for="Intermediate">
      Intermediate
    </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="athleteType"
      id="athlete"
      value="Pro"
      {{#ifeq currentUser.athleteType "Pro"}} checked {{/ifeq}}
    />
    <label class="form-check-label" for="Pro">
      Pro
    </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="athleteType"
      id="athlete"
      value="Stark"
      {{#ifeq currentUser.athleteType "Stark"}} checked {{/ifeq}}
    />
    <label class="form-check-label" for="Stark">
      Stark
    </label>
  </div>
