<label for="birthday"></label>
<input
  type="date"
  id="birthday"
  name="birthday"
  min="1900-01-01"
  max="2021-07-31"
  value="{{currentUser.birthday}}"
<<<<<<< HEAD
/>
=======
/>

<br />
>>>>>>> b726bb6037851ff645d524debd7a2b5a3d7d8bd0
