<div class="mb-3">
  <label class="form-label" for="Height">Height in cm</label>
  <input
    class="form-control"
    type="number"
    name="height"
    value="{{currentUser.height}}"
  />
  <br />



  <label class="form-label" for="Weight">Weight in kg</label>
  <input 
    class="form-control"
    type="number"
    name="weight"
    value="{{currentUser.weight}}"
  />
</div>