<a class="srch-result-wo" href="/library/workout-information/{{this._id}}">
  <p class="srch-result-name">
    {{this.name}}
  </p>
  <p class="srch-result-creator">Created by: {{this.createdBy}}</p>
  <p class="srch-result-selected">Times selected: {{this.timesSelected}}</p>
</a>