<section id="intro-flow-section" class="swap-animation">
  <div class="intro-flow-box">

    <h4>{{friendThatSendRequest.username}} wants to be your Workout-buddy!</h4>
    <form method="POST" action="/friends/friend-request">
      <button
        type="submit"
        class="button button-big"
        name="friendAction"
        value="accept"
      >Accept</button>
      <button
        type="submit"
        class="button button-big"
        name="friendAction"
        value="decline"
      >Decline</button>
    </form>

  </div>
</section>