<div>
  <h4>About Us</h4>
</div>

<article class="aboutus">
  WorkoutY can either definitely change your workout routines or bring you back
  on track, to set your workout status to true. Start when you want, at your
  own pace to the highest level that you can.

  <a href="https://www.linkedin.com/in/aramihone/">Anja</a>
  &
  <a href="https://www.linkedin.com/in/bartspangenberg/">Bart </a>

</article>