
<div class="err-404-centered">
    <h1 id="err-404">Ooops</h1>
    <p id="err-404-1"> Don't push yourself too hard ! </p>
    <img id="404-2" src="https://media.giphy.com/media/3ohjVcv5OmvL4GhRT2/giphy.gif" alt="sport-fail">
    <div id="button-mainpage">
        <a href="/myworkouts">DRINK and REST ! </a>
    </div>
</div>
