<h1>Welcome to WorkoutApp </h1>
<p>I wanna be the best version of myself! </p>


{{#if isLoginClicked}} 
    {{> login}}
{{/if}}
<a class="btn btn-primary" href="/signup">Register</a>

<a class="btn btn-primary" href="/login">Login</a>