<div id ="videoDiv">
<video id ="video1" preload="" autoplay="" muted="" playsinline="" loop=""> 
<source src ="/videos/fitness1.mp4" type="video/mp4"></video>
</video>


<section id="intro-flow-section" >
<div class ="intro-flow-box"">

<h3>Workouty  </h>


{{#if isLoginClicked}} 
    {{> login}}
{{/if}}
<br>
<a id="btnLanding" class="btn btn-light" href="/signup">Register</a>

<a id="btnLanding" class="btn btn-light" href="/login">Login</a>

</div>
</section>

</div>