<video id ="video1" preload="" autoplay="" muted="" playsinline="" loop=""> 
<source src ="/videos/fitness2.mp4" type="video/mp4"></video>
</video> 


<header class ="container">
<h1 class ="land-title">Workouty</h1>


<br>

<span id="btnLanding"> <a  class="btn btn-link " href="/signup"> Register</a></span>
<br>
<span id="btnLanding"> <a  class="btn btn-link" href="/login">Login</a></span>


{{#if isLoginClicked}} 
    {{> login}}
{{/if}}

</header>

