<section id="intro-flow-section" >
<div class ="intro-flow-box"">

<h3>Workouty  </h>


{{#if isLoginClicked}} 
    {{> login}}
{{/if}}
<br>
<a class="btn btn-light" href="/signup">Register</a>

<a class="btn btn-light" href="/login">Login</a>

</div>
</section>