
<div class="both-centered">
    <h1 id="404">Ooops</h1>
    <p id="404-1"> Don't push yourself too hard ! </p>
    <img id="404-2" src="https://media.giphy.com/media/3ohjVcv5OmvL4GhRT2/giphy.gif" alt="sport-fail">
    <div id="button-home">
        <a href="/myworkouts">DRINK and REST</a>
    </div>
</div>