.welcomeUser {
  margin: 30px 0 30px 0px;
  font-size: 40px;
  text-align: center;
}

.main-page-section-container {
  justify-content: space-around;
}

#main-page-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow:  29px 29px 57px #bebebe,-29px -29px 57px #ffffff;
}

.stateworkouts {
  margin: 30px 0 30px 0px;
}

.my-wo-wo-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.my-wo-wo-container a {
  height: 75px;
  text-decoration: none;
}

.wo-info-link-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}

#button-myworkouts {
  height: 40px;
}

.wo-info-buddy {
  margin-bottom: 0px;
  font-weight: bold;
  color: #6c757d;
}

.wo-info-name {
  color: #009688;
  font-size: 1em;
  margin-bottom: 0px;
  font-weight: 500;
}

.wo-info-name:hover {
  text-decoration: underline;
}

.wo-info-date {
  font-size: 0.7em;
  color: #6c757d;
  margin-bottom: 0px;
}
