.welcomeUser {
  margin: 30px 0 30px 0px;
  font-size: 40px;
  text-align: center;
}

.main-page-section-container {
  justify-content: space-around;
}

#main-page-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  background-color: #b5eaea;
  width: 40%;
  border-color: #b5eaea;
  border-radius: 5px;
}

.stateworkouts {
  margin: 30px 0 30px 0px;
}

.my-wo-wo-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.my-wo-wo-container a {
  height: 75px;
  text-decoration: none;
}

.wo-info-link-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}

#button-myworkouts {
  height: 40px;
}

.wo-info-buddy {
  margin-bottom: 0px;
  font-weight: bold;
  color: black;
}

.wo-info-name {
  color: black;
  font-size: 1em;
  margin-bottom: 0px;
}

.wo-info-name:hover {
  text-decoration: underline;
}

.wo-info-date {
  font-size: 0.7em;
  color: black;
  margin-bottom: 0px;
}
