body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
<<<<<<< HEAD

input[type="number"] {
  width: 45px;
  text-align: left;
}

.bi-arrow-right-square-fill {
  size: 60px;
}
=======
>>>>>>> 5114745a20d876ab902734cd8bbd0d055146786f
