* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

li.active {
  background-color: yellow;
}

a.active {
  font-size: 1em;
  font-weight: bold;
  text-decoration: underline;
}

a {
  color: #00b7ff;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 3em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.6em;
}

h6 {
  font-size: 1.2em;
}

p {
  font-size: 0.8em;
}

input[type="number"] {
  width: 45px;
  text-align: left;
}

.bi-arrow-right-square-fill {
  size: 60px;
}

.sidebar-not-selected {
  text-decoration: none;
}

.sidebar-selected {
  text-decoration: underline;
}

.button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  width: auto;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.4);
}

.button-small {
  font-size: 0.8em;
  padding: 10px;
}

.button-medium {
  font-size: 1em;
  padding: 10px;
}

.button-big {
  font-size: 1.2em;
  padding: 10px;
}

.label-small {
  font-size: 1em;
}

.label-medium {
  font-size: 2em;
}

.label-big {
  font-size: 3em;
}

.input-txt-small {
  width: 50px;
}

.input-txt-medium {
  height: 35px;
  width: 200px;
}

.input-txt-big {
  width: 500px;
  height: 35px;
}

.swap-animation {
  animation: swapAnimation ease-in-out 750ms;
}

@keyframes swapAnimation {
  0% {
    opacity: 0;
    transform: translateX(0%);
  }
  50% {
    transform: translateX(100%);
  }
  51% {
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.swap-animation-two {
  animation: swapAnimationTwo ease-in-out 750ms;
}

@keyframes swapAnimationTwo {
  0% {
    opacity: 0;
    transform: translateX(-60%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.section-center {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.mrg-btm {
  margin-bottom: 20px;
}
